* {
    list-style: none;
}

ul li {
    margin: 0 10px;
    font-weight: bold;
    color: #5f6368;
}

.titolo img {
    width: 100px;
}

.titolo {
    display: flex;
    align-items: center;
    color: #5f6368;
    height: 3rem;
}

ul {
    display: flex;
}

.relative {
    position: relative;
}

.active {
    position: absolute;
    color: blueviolet;
    background-color: blueviolet;
    width: 100%;
    height: 3px;
    bottom: -12px;
}

li:hover .absolute {
    position: absolute;
    background-color: blueviolet;
    width: 100%;
    height: 3px;
    bottom: -12px;
}

li:hover {
    cursor: pointer;
}